<meta http-equiv="x-ua-compatible" content="ie=8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- jqgrid需要的css -->

<link href="${ctxPath}/dist/css/zui.min.css" rel="stylesheet"/>
<link href="${ctxPath}/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="${ctxPath}/css/m_css.css" />
<link href="${ctxPath}/dist/css/doc.min.css" rel="stylesheet"/>
<link href="${ctxPath}/dist/css/bootstrap.css" rel="stylesheet"/>
<link href="${ctxPath}/dist/css/common.css" rel="stylesheet"/>
<link href="${ctxPath}/dist/css/ui.jqgrid-bootstrap.css" rel="stylesheet"/>
<script src="${ctxPath}/js/jquery-1.11.0.min.js"></script>

<!-- jQuery (ZUI中的Javascript组件依赖于jQuery) --> 
	<script src="${ctxPath}/assets/jquery.js"></script>
	<script src="${ctxPath}/assets/clipboard/clipboard.min.js"></script> 
	<script src="${ctxPath}/assets/less/less.min.js"></script> 

	<!-- ZUI Javascript组件 -->
	<!-- <script src="${ctxPath}/dist/js/zui.min.js"></script>  -->
	<script src="${ctxPath}/js/zui.min.js"></script>
	<!-- 增强文档插件 -->
	<script async src="${ctxPath}/assets/prettify/prettify.js"></script> 
	<script async src="${ctxPath}/assets/marked/marked.min.js"></script>
	
	<!-- jqgrid -->
	<script src="${ctxPath}/dist/js/bootstrap.min.js"></script>
	<script src="${ctxPath}/dist/js/grid.locale-cn.js"></script>
	<script src="${ctxPath}/dist/js/jquery.jqGrid.min.js"></script>
	<script src="${ctxPath}/dist/js/jquery.form.js"></script>
	<!-- 时间控件 -->
	<script src="${ctxPath}/lib/datetimepicker/datetimepicker.min.js"></script>
	<script src="${ctxPath}/js/echarts.min.js"></script>

	<!--分页-->
	<script src="${ctxPath}/js/jquery.pagination.js"></script>
	<!--时间格式化-->
	<script src="${ctxPath}/js/dateFormate.js"></script>
	
