body{ font-size: 12px;}

.blank0{clear:both;display:block;font-size:1px;visibility:hidden;height:0;line-height:0;}
.blank5{clear:both;display:block;font-size:1px;overflow:hidden;height:5px;}
.blank8{clear:both;display:block;font-size:1px;overflow:hidden;height:8px;}
.blank10{clear:both;display:block;font-size:1px;overflow:hidden;height:10px;}
.blank12{clear:both;display:block;font-size:1px;overflow:hidden;height:12px;}
.blank15{clear:both;display:block;font-size:1px;overflow:hidden;height:15px;}
.blank20{clear:both;display:block;font-size:1px;overflow:hidden;height:20px;}
.blank25{clear:both;display:block;font-size:1px;overflow:hidden;height:25px;}
.blank28{clear:both;display:block;font-size:1px;overflow:hidden;height:28px;}
.blank30{clear:both;display:block;font-size:1px;overflow:hidden;height:30px;}
.blank35{clear:both;display:block;font-size:1px;overflow:hidden;height:35px;}
.blank40{clear:both;display:block;font-size:1px;overflow:hidden;height:40px;}
.blank45{clear:both;display:block;font-size:1px;overflow:hidden;height:45px;}
.blank50{clear:both;display:block;font-size:1px;overflow:hidden;height:50px;}
.blank60{clear:both;display:block;font-size:1px;overflow:hidden;height:60px;}
.blank100{clear:both;display:block;font-size:1px;overflow:hidden;height:100px;}
.blank170{clear:both;display:block;font-size:1px;overflow:hidden;height:170px;}

a:hover{ text-decoration:none;}

.font32{font-size: 32px;}
.line28{ line-height: 28px;}

.modal_sm{ width: 600px; margin: 0 auto;}
.modal_lg{ width: 1000px; margin: 0 auto;}

.table5 td{ padding: 3px 0 !important;}

.m_l10{ margin-left: 10px;}
.m_b0{ margin-bottom: 0px;}
.w930{ width: 930px; margin: 0 auto;}
.breadcrumb{ border-bottom: 1px #dddddd solid; padding: 8px 0 !important;}
.table_v_m td, .table_v_m th{vertical-align:middle;}
.table_a_c td, .table_a_c th{text-align: center;}

.o_page{ text-align: right; line-height: 22px;}
.o_page ul{ float: right;}
.o_page ul li{ display: inline-block; float: left; padding: 0 5px;}
.o_page ul li a{ color: #353535;}
.page_sel{width: 50px; height: 22px; outline: 0; border: 1px #cccccc solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px; display: inline-block;}
.o_page .page_ipt{ display: inline-block; width: 50px; height: 22px; line-height: 22px; text-align: center; outline: 0; border: 1px #cccccc solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px;}
.o_page .page_btn{ display: inline-block; width: 40px; height: 22px; line-height: 18px; outline: 0; border: 1px #cccccc solid; background: #f2f2f2; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius:3px; cursor: pointer;}

.sup_ipt{ font-size: 12px; padding-bottom:80px;}
.sup_ipt .input-group { width: 100%;}
.sup_ipt .input-group span{ width: 160px; }
.sup_ipt .input-group cite{ cursor: pointer; overflow: hidden; position: relative; width: 50px;}
.sup_ipt .input-group cite input[type=file] {position: absolute; left: 0; top: 0; z-index: 1; width: 100%; opacity: 0; filter: alpha(opacity=0); cursor: pointer; height: 40px;}
.sup_ipt .input-group-addon{font-size: 12px; background-color: #f2f2f2; }
.sup_ipt .form-control{ height: 40px; font-size: 12px;}
.sup_ipt .sup_textarea{ height: auto !important;}
.sup_ipt .sup_danwei{ border-left: none; border-right: none ; background: #fafafa !important;}
.sup_ipt .ipt_sel{display: table-cell; }
.sup_ipt .ipt_sel_one select{ border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important;}
.sup_ipt .ipt_sel_single select{border-left: none; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important;}
.sup_ipt .ipt_sel_more select{border-right: none;}
.sup_btn{ background: #fafafa; height: 72px; text-align: center; position: absolute; left: 0; bottom:0;  z-index:9999; border-top: 1px #ccc solid; width: 100%;}
.sup_btn .sup_btn_con{ width: 888px; position: absolute; left: 50%; top: 20px; margin-left: -444px;}


.sup_bj_tab{ width: 952px;}
.sup_bj_tab li{ width: 114px; margin-right: 22px; float: left;}
.sup_bj_tab li a{ float: left; border-radius: 4px; display: block; width: 114px; text-align: center; border: 1px #ccc solid; background: #fafafa;}
.sup_bj_tab li a:link, .sup_bj_tab li a:visited{ color:#666; text-decoration: none;}
.sup_bj_tab li a:active, .sup_bj_tab li a:hover{ color:#145ccd;  text-decoration: none;}
.sup_bj_tab li span{ display: block; text-align: center;  height: 40px; width: 40px; margin: 0 auto; line-height: 45px; overflow: hidden;}
.sup_bj_tab li span i{font-size: 24px;}
.sup_bj_tab .active a:link, .sup_bj_tab .active a:visited{  text-decoration: none; border: 0px #3280fc solid;background-color:#3280fc; color:#FFF;border:2px #3280fc solid\9;background-color: transparent\9; color:#666\9;}
.sup_bj_tab .active a:active, .sup_bj_tab .active a:hover{  text-decoration: none; border: 0px #3280fc solid; background-color:#3280fc; color:#FFF;border:2px #3280fc solid\9;background-color: transparent\9; color:#666\9;}
:root .sup_bj_tab .active a:link, .sup_bj_tab .active a:visited{  text-decoration: none; border: 0px #3280fc solid;background-color:#3280fc; color:#FFF;}
:root .sup_bj_tab .active a:active, .sup_bj_tab .active a:hover{  text-decoration: none; border: 0px #3280fc solid; background-color:#3280fc; color:#FFF;}

.sup_bj_con{ border: 1px #ccc solid; padding: 20px; border-radius: 4px; background: #fafafa; position:relative;}
.sup_bj_con .res_arrow{ width: 17px; height: 11px; position: absolute; top: -15px;}
.sup_bj_con #tabContent1 .res_arrow{ left: 48px; }
.sup_bj_con #tabContent2 .res_arrow{ left: 185px; }
.sup_bj_con #tabContent3 .res_arrow{ left: 320px; }
.sup_bj_con #tabContent4 .res_arrow{ left: 455px; }
.sup_bj_con #tabContent5 .res_arrow{ left: 592px; }
.sup_bj_con #tabContent6 .res_arrow{ left: 728px; }
.sup_bj_con #tabContent7 .res_arrow{ left: 865px; }

.zjlsgl_tab {}
.zjlsgl_tab .title{ line-height: 36px; background: #3280fc; color:#fff; text-align: center; font-size: 15px; font-weight: bold; width: auto; padding: 0 10px;}
.zjlsgl_tab li{ width: 120px; float: left; height: 36px; margin-left: -1px;}
.zjlsgl_tab li a{ display: block; width: 120px; height: 36px; text-align: center; border: 1px #ccc solid;  background: #fafafa;}
.zjlsgl_tab .active { z-index: 1;}
.zjlsgl_tab .active a:link, .zjlsgl_tab .active a:visited{  background: #eaf2ff !important; color:#3280fc; text-decoration: none; border: 1px #3280fc solid;}
.zjlsgl_tab .active a:active, .zjlsgl_tab .active a:hover{  background: #eaf2ff !important; color:#3280fc;  text-decoration: none; border: 1px #3280fc solid;}

.xxgys_tab{ }
.xxgys_tab li{ width: 200px; float: left; height: 36px; margin-left: -1px; font-size: 14px;}
.xxgys_tab li a{ display: block; width: 200px; height: 36px; text-align: center; border: 1px #ccc solid;  background: #fafafa;}
.xxgys_tab .active { z-index: 1; font-weight: bold;}
.xxgys_tab .active a:link, .xxgys_tab .active a:visited{  background: #3280fc !important; color:#fff; text-decoration: none; border: 1px #3280fc solid;}
.xxgys_tab .active a:active, .xxgys_tab .active a:hover{  background: #3280fc !important; color:#fff;  text-decoration: none; border: 1px #3280fc solid;}


.zjcon_tab{}
.zjcon_tab .title{ line-height: 36px; background: #3280fc; color:#fff; text-align: center; font-size: 15px; font-weight: bold; width: auto; padding: 0 10px;}
.zjcon_tab li{ width: 150px; float: left; height: 36px; margin-left: -1px; font-size: 14px;}
.zjcon_tab li a{ display: block; width: 150px; height: 36px; padding: 0; line-height: 34px; text-align: center; border: 1px #ccc solid;  background: #fafafa;}
.zjcon_tab .active { z-index: 1; font-weight: bold;}
.zjcon_tab .active a:link, .zjcon_tab .active a:visited{  background: #3280fc !important; color:#fff; text-decoration: none; border: 1px #3280fc solid;}
.zjcon_tab .active a:active, .zjcon_tab .active a:hover{  background: #3280fc !important; color:#fff;  text-decoration: none; border: 1px #3280fc solid;}

.zj_space_t{ text-align: center; border-bottom: 1px #666 solid; line-height: 30px;  width: 100px; margin: 0 auto 10px auto; font-weight: bold;}
.zj_space_c{}
.zj_space_c .jl_list{list-style: none; padding: 0; margin: 0 0 0 35px; width: 330px;}
.zj_space_c .jl_list li{ width: 80px; float: left; margin-right: 30px; line-height: 25px; height: 25px;}
.zj_space_c .jl_list li i{float: right; line-height: 25px;}
.zj_space_c .fj_list{list-style: none; padding: 0;}
.zj_space_c .fj_list li{line-height: 25px; height: 25px; text-align: center;}
.zj_space_c .fj_list li span{  width: 100px; overflow: hidden; height: 25px; display:inline-block; vertical-align: middle;}
.zj_space_c .fj_list li a{ display: inline-block; line-height: 25px; height: 25px; margin-left: 5px;}


.table_zj{ margin-bottom: 0;}
.table_zj th{ position: relative; height: 45px;}
.table_zj th span{ font-weight: normal;}
.table_zj th b{ font-size: 16px; margin-left: 50px;}
.table_zj .lable_bx{ position: absolute; top: 0; left: 0;}

.jlly_title{ background: #ddeaff; border: 1px #86b5ff solid; border-radius: 4px; padding: 20px; z-index: 9; width: 930px;}
.jlly_title b{ font-size: 24px; margin-right: 20px;}
.jlly_title span{ color: #666;}

.jlly_con{ border: 1px #ccc solid; padding: 20px; border-radius: 4px; background: #fafafa; position: relative; margin-top: 25px;width: 930px;}
.jlly_con .res_arrow{ width: 17px; height: 11px; position: absolute; top: -15px;}
.jlly_con table{ margin-bottom: 0;}


.jjly_lxr{ width: 888px;}
.jjly_lxr ul{ list-style: none; margin: 0; padding: 0; width: 908px;}
.jjly_lxr ul li{ background: #fff; width: 434px; padding: 15px; border-radius: 4px; box-shadow: 0 0 10px #ccc; float: left; margin-right: 20px; margin-bottom: 20px;}
.jjly_lxr ul li span{ display: block; font-size: 20px; margin-bottom: 10px;}
.jjly_lxr ul li span b{ font-size: 24px; margin-right: 20px; font-weight: normal;}

.table_ht{ background: #ddeaff; border: 1px #ddd solid; border-bottom: none;}
.table_ht table{ width: 100%;}
.table_ht table td{ padding: 0 5px;}

.ghs_xx_tab{ width: 952px;}
.ghs_xx_tab li{ width: 150px; margin-right: 22px; float: left;}
.ghs_xx_tab li a{ float: left; border-radius: 4px; display: block; width: 150px; text-align: center; border: 1px #ccc solid; background: #fafafa;}
.ghs_xx_tab li span{ display: block; text-align: center;  height: 40px; width: 40px; margin: 0 auto; line-height: 50px; overflow: hidden;}
.ghs_xx_tab li span i{ font-size: 30px;}
.ghs_xx_tab .active { }
.ghs_xx_tab .active1 a:link, .ghs_xx_tab .active1 a:visited{  background: #38b03f !important; color:#fff; text-decoration: none; border: 1px #38b03f solid;}
.ghs_xx_tab .active1 a:active, .ghs_xx_tab .active1 a:hover{  background: #38b03f !important; color:#fff;  text-decoration: none; border: 1px #38b03f solid;}
.ghs_xx_tab .active2 a:link, .ghs_xx_tab .active2 a:visited{  background: #ea644a !important; color:#fff; text-decoration: none; border: 1px #ea644a solid;}
.ghs_xx_tab .active2 a:active, .ghs_xx_tab .active2 a:hover{  background: #ea644a !important; color:#fff;  text-decoration: none; border: 1px #ea644a solid;}
.ipt_file{border:none;color:#3280fc;background:#eeeeee;height:18px; font-size: 12px; line-height: 12px;}

.floatmenu{ width:80px; height:310px; position:fixed; bottom:30%; right:10px; overflow:hidden;}
.catalog-title{width:73px; height:240px;border-left:2px solid #dcdcdc; position:relative; margin:5px;}
.catalog-title .start {position: absolute;left: -6px; top:-5px; width: 10px;height: 10px; border:2px solid #dcdcdc; background:#fff; border-radius:50%;}
.catalog-title .end {position: absolute;left: -6px; bottom:-5px; width: 10px;height: 10px; border:2px solid #dcdcdc; background:#fff; border-radius:50%;}
.catalog-list{margin:0; padding:0;}
.catalog-list li{ height:30px; list-style:none; position:relative; top:15px;}
.catalog-list li a{color: #36F; width:63px; height:26px; text-align:center; line-height:26px; display:inline-block; margin-left:10px; margin-top:2px;}
.catalog-list li a:hover{width:63px; height:26px; text-align:center; line-height:26px; display:inline-block; background:#3280fc; color:#fff;}
.catalog-list li .active{ background:#3280fc; color:#fff;}


.catalog-list li .pointer {position: absolute; left:-6px; top:10px; width: 10px;height: 10px;border:1px solid #fff; background:#dcdcdc;border-radius:50%;}
.catalog-list li:hover .pointer,.catalog-list li.active .pointer { background:#3280fc;}

.xx_up{ margin: 0; display: table-cell; position: relative; float: left;}
.xx_up .file-list{ width: 224px; height: 40px; line-height: 40px; border-radius: 0; border: 1px #ccc solid; border-right: none; display: table-cell; float: left; margin: 0; padding:0 10px;}
.xx_up .actions{ display: none !important;}
.xx_up .file-icon{display: none !important;}
.xx_up .content{ height: 38px !important; padding: 0 10px;}
.xx_up .btn_up{ width: 50px; height: 40px; border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;}
.xx_up input[type=file] {
	/* position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border: 0;
	padding: 0;
	margin: 0;  */
	height: 40px;
	line-height:40px;
	cursor: pointer;
	/* filter: alpha(opacity = 0); */
	-moz-opacity: 0;
	-khtml-opacity: 0;
	/* opacity: 0; */
}

/* LIBAO */
.ipt_date01{ display: inline-block;}
.ipt_date01 .form-control{ background: #fff !important;}
.ipt_date01 .input-group-addon{ background: #fff !important;}
.ipt_date01 .input-group-addon span{ color:#777 !important;}

.table_v_m .zhi{ display:inline-block; vertical-align:middle; margin-top:-25px;}
.table_v_m a{ margin:0 5px;}

.lead_zj{ text-align:center; margin-top:30px;}
.zj_btn{ margin:0 auto !important; display:table !important; text-align:center;}

.spsj_title{ margin-right:10px;}
.jianju-l{ margin-left:10px !important;}
.jianju-r{ margin-right:10px !important;}
.file-list .file-icon{ display:none;}
.file-list .file-size{ display:none;}
.file-list .btn-download-file{ display:none;}
.file-list .btn-reset-file{ display:none;}
.file-list .btn-rename-file{ display:none;}

.sup_btn01{  text-align: center;  z-index:9999;width: 100%; margin-top:20px;}
.sup_btn01 .btn_jj{ margin-right:10px;}

.zjtjbtn{
	color:#145ccd;
	border:0;
	background-color:white;
}
.zjscbtn{
	color:#145ccd;
	border:0;
	background-color:white;
}

.myrequired{
	position: relative;
	display:inline;
}

.myrequired:after{
	position: absolute;
	top: 0;
	right: -10px;
	display: inline-block;
	font-size: 17px;
	color: #ea644a;
	content: '*';
}

.merequired{
	position: relative;
	display:inline;
}

.merequired:after{
	position: absolute;
	top: 0;
	display: inline-block;
	font-size: 17px;
	color: #ea644a;
	content: 'ï¼Š';
}

.wareSort { padding: 15px 8px 15px 7px; border: 1px solid #ccc; background-color: #fafafa; border-radius: 5px;}
.wareSort ul { float: left; width: 210px; padding: 10px; border: 1px solid #ddd; margin-right: 7px; margin-left: 10px; background-color: #fff; }
.wareSort ul li{ list-style: none;}
.wareSort .title{ text-align: center; font-weight: bold; line-height: 30px; border-bottom: 1px #E5E5E5 solid; margin-bottom: 10px;}
.wareSort ul li a { display: block; padding-right: 25px; padding-left: 10px; border: 1px solid #fff; line-height: 28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666;}
.wareSort ul li a:hover { color: #78acff; }
.wareSort ul li.active a { border-color: #78acff; background: #e3eeff url(../img/arrow.png) no-repeat right center; color: #3280fc; text-decoration: none; }
.selectedSort { padding: 10px 15px; border: 1px solid #ed7f5a; margin-top: 10px; margin-bottom: 10px; background-color: #fff4f0; color: #ed7f5a; }
.selectedSort b { font-weight: bold; }
.selectedSort i font { font-family: simsun; }
.wareSortBtn { padding-bottom: 50px; text-align: center; }
.wareSortBtn input { width: 200px; height: 36px; border: 1px solid #ed7f5a; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #ed7f5a; color: #fff; }
.wareSortBtn input:hover { border-color: #d95459; background-color: #d95459; }
.wareSortBtn input:disabled { border-color: #ddd; background-color: #f6f6f6; color: #9a9a9a; cursor: default; }

.wlfl_item{ display:table; border:1px solid #eee; margin:20px auto; width: 100%;}
.wlfl_item .wlfl_first{ width:150px; vertical-align:middle; display: table-cell;  border-right:1px solid #eee; text-align:center;}
.wlfl_item .wlfl_main{ display: table-cell;padding-bottom:10px;}
.wlfl_item .wlfl_main p{ background-color:#f6f6f6; padding:10px;}
.wlfl_item ul{ list-style:none; margin:0; padding:0;}
.wlfl_item ul li{ display:inline-block; width:150px; padding:5px 10px;}

.link_white:link, .link_white:visited{ text-decoration: underline; color: #ffffff; }
.link_white:active, .link_white:hover{ text-decoration: underline; color: #fff; }
.tag_con{ background: #ffe9e5; border: 1px #ea644a solid;}
.tag_con b{ display: inline-block; background: #ea644a; padding: 5px 10px; font-size: 14px; margin-bottom: 10px; color: #fff;}
.tag_con p{ padding: 0 10px; display: block;}
