/* CSS Document */
 *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0;  }
img { border: 0 none; vertical-align: top; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 12px; font-family:"Microsoft YaHei"; }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
body {  color: #737373; line-height: 1.2; background: #f6f6f6; }
a, a:link { color: #595959; text-decoration: none; }
a:visited {}
a:active, a:hover { text-decoration: none; color:#fb5630;}
a:focus { outline: none; }
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
.more { float: right; }
.more a { font-weight: normal; font-size: 12px; }
.fl, .fr { display:inline-block; float: left; }
.fr { float: right; }
input::-ms-clear { display: none; }

.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clearfix{*zoom:1}
.hide{display:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.google_t{-webkit-text-size-adjust:none;}
.link_red:link, .link_red:visited{ color: #b31212 !important; text-decoration: none; }
.link_red:active, .link_red:hover{ text-decoration: none; color:#b31212 !important; }
.link_blue:link, .link_blue:visited{ color: #1a9af0; text-decoration: none; }
.link_blue:active, .link_blue:hover{ text-decoration: underline; color:#1a9af0; }
.link_white:link, .link_white:visited{ color: #ffffff; text-decoration: none; }
.link_white:active, .link_white:hover{ text-decoration: underline; color:#c30d23; }
.link_orange:link, .link_orange:visited{ color: #fb5630; text-decoration: none;   }
.link_orange:active, .link_orange:hover{ text-decoration: underline; color:#fb5630; }
.link_green:link, .link_green:visited{ color: #88c635; text-decoration: none; }
.link_green:active, .link_green:hover{ text-decoration: underline; color:#88c635; }
.link_gray:link, .link_gray:visited{ color: #808080; text-decoration: none; }
.link_gray:active, .link_gray:hover{ text-decoration: none; color:#00b3fe; }

.songti{font-family:SimSun} 
.yahei{font-family:"Microsoft YaHei"}
.arial{font-family:Arial}
.new_roman{font-family:"Times New Roman",Arial}
.helvet{font-family:Helvetica}

.red{ color:#ec3233;}
.orange{ color:#fb5630;}
.green{ color:#53b83a;}
.yellow{ color:#eca339;}
.grey{color:#808080;}
.grey01{color:#aeadad;}
.blue{ color:#3280FC;}
.white{ color:#FFF !important;}
.f_w{ font-weight:bold;}
.of_h{ overflow: hidden;}

.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font15{ font-size:15px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font26{ font-size:26px;}
.line20{ line-height:20px;}
.line24{ line-height:24px;}
.line24{ line-height:24px;}
.line28{ line-height:28px;}
.line30{ line-height:30px;}

.ind24 p{ text-indent:24px;}
.ind28 p{ text-indent:2em;}
.align_l{ text-align:left}
.align_c{ text-align:center}
.align_r{ text-align:right}
.bgcolor{background:#f5f4f4;}
.pad10{ padding:0 10px}
.m_l10{ margin-left:10px;}
.m_l39{ margin-left:39px;}
.m_l8{ margin-left:8px;}
.tab_pad5 td{ padding:5px;}
.tab_pad10 td{ padding:10px 0;}
.tab_pad20 td{ padding:20px;}
.tab_pad7_5 td{ padding:7px 5px;}

.tab_pad10 th {padding-right:10px; text-align:right;}
.tab_pad10 label {padding-left:10px;}


@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1474272851'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1474272851#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1474272851') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1474272851') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1474272851#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
}
.icon-fanhui:before { content: "\e60e"; }
.icon-xiayibu:before { content: "\e60f"; }
.icon-gou:before { content: "\e610"; }
.icon-jt-left:before { content: "\e611"; }
.icon-guanbi:before { content: "\e612"; }
.icon-shoucang:before { content: "\e600"; }
.icon-gouwuche:before { content: "\e601"; }
.icon-tyjs:before { content: "\e60a"; }
.icon-gonggao:before { content: "\e615"; }
.icon-yonghu:before { content: "\e616"; }
.icon-zan:before { content: "\e613"; }
.icon-jt-down:before { content: "\e605"; }
.icon-jiantou-down:before { content: "\e602"; }
.icon-caidan:before { content: "\e604"; }
.icon-jiantou-up:before { content: "\e603"; }
.icon-jxgw:before { content: "\e60b"; }
.icon-ksdr:before { content: "\e60c"; }
.icon-normal:before { content: "\e607"; }
.icon-bad:before { content: "\e608"; }
.icon-qk:before { content: "\e60d"; }
.icon-good:before { content: "\e609"; }
.icon-mingpian:before { content: "\e617"; }
.icon-xin:before { content: "\e614"; }
.icon-jt-up:before { content: "\e606"; }

.blank0{clear:both;display:block;font-size:1px;visibility:hidden;height:0;line-height:0;}
.blank5{clear:both;display:block;font-size:1px;overflow:hidden;height:5px;}
.blank8{clear:both;display:block;font-size:1px;overflow:hidden;height:8px;}
.blank10{clear:both;display:block;font-size:1px;overflow:hidden;height:10px;}
.blank12{clear:both;display:block;font-size:1px;overflow:hidden;height:12px;}
.blank15{clear:both;display:block;font-size:1px;overflow:hidden;height:15px;}
.blank20{clear:both;display:block;font-size:1px;overflow:hidden;height:20px;}
.blank25{clear:both;display:block;font-size:1px;overflow:hidden;height:25px;}
.blank28{clear:both;display:block;font-size:1px;overflow:hidden;height:28px;}
.blank30{clear:both;display:block;font-size:1px;overflow:hidden;height:30px;}
.blank35{clear:both;display:block;font-size:1px;overflow:hidden;height:35px;}
.blank40{clear:both;display:block;font-size:1px;overflow:hidden;height:40px;}
.blank45{clear:both;display:block;font-size:1px;overflow:hidden;height:45px;}
.blank50{clear:both;display:block;font-size:1px;overflow:hidden;height:50px;}
.blank60{clear:both;display:block;font-size:1px;overflow:hidden;height:60px;}
.blank100{clear:both;display:block;font-size:1px;overflow:hidden;height:100px;}
.blank170{clear:both;display:block;font-size:1px;overflow:hidden;height:170px;}

.w1230{ width:1230px; margin:0 auto;}

.bar_con{ height: 40px; line-height: 40px; background: #FFFFFF;}

.bar_l{}
.bar_l ul{}
.bar_l ul li{ float: left; padding: 0 10px;}
.bar_c{ width: 360px; margin-left: 20%;}
.bar_c ul{}
.bar_c ul li{ float: left; padding: 0 10px;}
.bar_r{}
.bar_r ul{}
.bar_r ul li{ float: left; padding: 0 10px;}
.spacer {width: 1px; height: 14px; margin-top: 13px; padding: 0 !important; background: #ddd; overflow: hidden;}
.mes i{ display: inline-block; background: #fb5630; color: #fff;  -moz-border-radius: 15px;  -webkit-border-radius: 15px; border-radius: 15px; min-width: 15px; height: 15px; line-height: 15px; text-align: center;}

.nav_con{ background:#2789e5; height: 65px; width:100%; display:table;}
.nav_con .logo{ padding: 10px 0;}
.nav_con .logo img{ height: 45px;}
.nav_con ul{}
.nav_con ul li{ width: 100px; float: left; line-height: 65px; font-size: 14px; text-align: center;}
.nav_con ul li a{ display: block; width: 100px; height: 65px;}
.nav_con ul li a:link, .nav_con ul li a:visited{ color: #ffffff; text-decoration: none; }
.nav_con ul li a:active, .nav_con ul li a:hover, .nav_con ul li .sel{ text-decoration: none; color:#ffffff; background: #1f70bc; }

.site_con{ height: 60px; line-height: 60px; font-size: 13px;}
.m_l{ width: 140px; border:1px #dddddd solid;}
.m_l .menu_t{ font-size: 14px; line-height: 40px; background: #ffffff; text-align: center;}
.m_l .menu_c{ }
.m_l .menu_c ul{}
.m_l .menu_c ul li{ line-height: 35px; border-top: 1px #dddddd solid; text-align: center;}
.m_l .menu_c ul li a{ display: block;}
.m_r{ width: 930px;margin: 0 auto; background: #ffffff; padding:40px 20px;}
.m_r .m_r_t{ color: #666666; font-size: 16px; text-align: center; background: url(../img/xian_o.png) center center no-repeat;height: 100px;}
.m_r .m_r_t span{ background: #ffffff; padding: 0 20px;}

.tab_t{ height: 30px;}
.tab_t ul{}
.tab_t ul li{ float: right; margin-left: 10px; line-height: 30px;}
.tab_t ul li a{ display: block; width: 110px; height: 30px; text-align: center; }
.tab_t ul li a:link, .tab_t ul li a:visited{ color: #ffffff; text-decoration: none; background: #f17356; }
.tab_t ul li a:active, .tab_t ul li a:hover{ text-decoration: none; color:#ffffff; background: #f17356; }
.tab_c{ border: 1px #eeeeee solid; padding: 10px 20px;}
.h_table{ border-top: 1px #eeeeee dashed; padding-top: 10px; margin-top: 10px; display:none;}

.form_label{ text-align: right; width:70px; display: inline-block; margin-right:10px; float: left; line-height: 30px; font-weight: normal !important;}
.ipt_n{ width:190px; height: 30px; border: 1px #dddddd solid; outline: 0;  color:#999;}
.ipt_t{ width: 110px; height: 30px; border: 1px #dddddd solid; outline: 0;  color:#999;}
.ipt_n80{ width:80px; height: 30px; border: 1px #dddddd solid; outline: 0;  color:#999;}
.ipt_n350{ width:350px; height: 30px; border: 1px #dddddd solid; outline: 0;  color:#999;}
.area{ border: 1px #dddddd solid; outline: 0; padding: 0 10px; color:#999;}

.btn_con{ text-align: center;}
.btn_con ul{ display: inline-block;  margin: 0 auto ;}
.btn_con ul li{ float: left; margin: 0 5px; }
.btn_con button{  width: 60px; height: 30px;}
.btn_s{ background: #4e9ee8; color: #fff; border: 1px #4e9ee8 solid; outline: 0; cursor: pointer;}
.btn_c{ border: 1px #4e9ee8 solid; color: #4e9ee8; background: none; outline: 0; cursor: pointer;}
.btn_d{ border: 1px #f78f77 solid; color: #f78f77; background: none; outline: 0; cursor: pointer;}


.table_order{}
.table_order th{ text-align: center; background: #eff7fe; font-weight: normal; line-height: 50px; color: #444444;white-space:nowrap; padding: 0px 10px;}
.table_order tr:hover{ background:#fafafa;}
.table_order td{ text-align: center; padding: 15px 10px; border-bottom: 1px #eeeeee solid; line-height:18px;}
.table_order td:last-child{ white-space:nowrap;}
.table_order td a{ margin:0 4px;}
.table_order img{width:70px !important; height:auto !important; border:1px solid #eee;}
.table_order span{line-height:18px; text-align:left; display:inline-block; padding-left:10px;}
.table_order tfoot tr td{ text-align:left !important; border:none;}
.table_order tfoot tr td i{ margin-right:5px;}

.page_con{ text-align: center; width: 370px; margin: 0 auto;}
.am-pagination { list-style: none; color: #2789e5; text-align: center; display: inline-block; height: 26px;}
.am-pagination li{ float: left;}
.am-pagination li a{position: relative; display: block; padding:5px 8px; text-decoration: none; background-color: #fff; border: 1px solid #ddd; border-right: none; color: #2789e5;}
.am-pagination li:last-child a{border-right: 1px solid #ddd;}
.am-pagination>.am-active>a, .am-pagination>.am-active>a:focus, .am-pagination>.am-active>a:hover{ z-index: 2; color: #fff; background-color: #0e90d2; border-color:#0e90d2; cursor: default;}
.am-pagination a:hover { z-index: 2; color: #0e90d2 ; background-color: #eeeeee; border-color: #ddd;cursor: pointer;}
.page_ipt{ width: 150px; display: inline-block; margin-left: 10px;}
.page_ipt input{ height: 26px; width: 50px; text-align: center; border: 1px solid #ddd; outline: 0; display: inline-block; margin: 0 5px;}
.page_ipt button{ height: 26px; width: 30px; border: none; background: #0e90d2; color: #fff; outline: 0; margin-left:5px; display: inline-block;}

.foot_con{ text-align: center; line-height: 24px; padding: 30px 0;}

.ipt_date{ width: 110px !important; display: inline-block;}
.ipt_date .form-control{ background: #fff !important;}
.ipt_date .input-group-addon{ background: #fff !important;}
.ipt_date .input-group-addon span{ color:#777 !important;}
.ipt_date01{ width: 190px !important; display: inline-block;}
.ipt_date01 .form-control{ background: #fff !important;}
.ipt_date01 .input-group-addon{ background: #fff !important;}
.ipt_date01 .input-group-addon span{ color:#777 !important;}
.ipt_date02{ width: 100px !important; display: inline-block;}
.ipt_date02 .form-control{ background: #fff !important;}
.ipt_date02 .input-group-addon{ background: #fff !important;}
.ipt_date02 .input-group-addon span{ color:#777 !important;}
.ipt_date_g{ width: 20px !important; display: inline-block; line-height: 30px; text-align: center;}

.ipt_sel{ width: 150px !important; display: inline-block;}
.ipt_sel .btn{background: #fff !important; width: 150px; text-align: left; color: #cac9c9;}
.ipt_sel .caret{ float: right; margin-top: 8px; color: #9b9b9b;}

.space_con{ }
.space_con .space_t{ border-left: 4px #fd5e3a solid; padding-left: 10px;}
.space_con .space_t span{ font-size: 14px;}
.space_con .space_c{ margin-top: 15px;}

.btn_qr{ width: 130px; height: 35px; background: #fd5e3a; outline: 0; border: 0; color: #fff; font-size: 14px;}
.btn_fh{ width: 130px; height: 35px; background: #fff; outline: 0; border: 0; color: #4e9ee8; border: 1px #4e9ee8 solid; font-size: 14px;}

/* +++++++++ CSS */
.xian_s{ background: url(../img/xian.jpg) center center repeat-x;}
.btn_blue_s{ width: 130px; height: 35px; background: #4e9ee8; border: none; outline: 0; color: #fff; font-size: 14px;}
.btn_orange_s{width: 130px; height: 35px; background: #fd5e3a; border: none; outline: 0; color: #fff; font-size: 14px;}
.btn_green_s{width: 130px; height: 35px; background: #2ac4ce; border: none; outline: 0; color: #fff; font-size: 14px;}
.btn_blue_x{width: 130px; height: 35px; background: #fff; border: 1px #4e9ee8 solid; outline: 0; color: #4e9ee8; font-size: 14px;}
.btn_gray_x{width: 100px; height: 30px; background: #fff; border: 1px #dfdfdf solid; outline: 0; color: #555555; }
.ipt{ height: 30px; padding:0 5px; border: 1px #E5E5E5 solid; outline: 0; color:#999 !important;}
.ipt70{ width: 70px;}
.ipt160{ width: 160px;}
.ipt300{ width: 300px;}
.ipt450{ width: 450px;}
.od_box{ border: 1px #EEEEEE solid; border-bottom: none; padding:30px 20px 10px 20px;}
.od_con{}
.od_con .od_t{ border-left: 4px #fd5e3a solid; height: 14px; line-height: 14px;  padding-left: 10px;}
.od_con .od_t span{ font-size: 14px; }
.od_con .od_c{ line-height: 30px; margin-top: 15px;}
.od_box .od_con .od_c table td{ padding: 0 2px;}
.od_box .od_con .od_c table td input{ margin: 0 !important;}
.order_border{border-left: 1px #eeeeee solid; border-right: 1px #eeeeee solid;}
.order_bt{ border: 1px #eeeeee solid;}
.order_bt table td{ text-align: center; padding:0 10px; background: #eff7fe; height: 50px; }
.order_gy{ border-bottom: 1px #eeeeee solid;}
.order_gy table td{ text-align: center; line-height: 20px; padding:10px 10px; color: #777777; background: #FAFAFA;}
.order_pr{ border-bottom: 1px #eeeeee solid;}
.order_pr table td{ text-align: center; line-height: 20px;  padding:20px 10px; color: #777777;}
.order_js{ border-bottom: 1px #eeeeee solid;}
.order_js table td{ text-align: center; line-height: 20px;  padding:20px 10px; color: #777777; background: #eff7fe;}
.order_os{ border-bottom: 1px #eeeeee solid; background: #eff7fe; padding: 15px 0;}
.order_os table td{  line-height: 20px;  padding:5px 20px; color: #777777; }
.order_os textarea{ width: 450px; height: 50px; padding: 0 5px; border: 1px #E5E5E5 solid; outline: 0;}
.total_con{}
.total_con table td{ padding:30px 20px; }
.pro_dl{}
.pro_dl dt{ float: left; width: 70px; height: 70px; border: 1px #eeeeee solid; margin-right: 10px;}
.pro_dl dt img{ width: 68px; height: 68px; }
.pro_dl dd a{ display: block; margin-bottom: 5px;}
.pro_dl dd{ line-height: 16px; color: #888888; text-align: left;}
.wrap_ipt{ position: relative; width: 88px; height: 22px; display: inline-block; margin-top: 3px;}
.wrap_ipt a{ display:block; position: absolute; z-index: 1; width: 24px; height: 24px; line-height: 20px; text-align: center; border: 1px #e5e5e5 solid;  font-size: 14px; }
.wrap_ipt .btn_reduce{ left: 0;}
.wrap_ipt .btn_add{ right: 0;}
.wrap_ipt input{ position: absolute; left: 24px; z-index: 1; width: 40px; height: 24px; line-height: 24px; border: none; border-top: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid;  outline: 0; background: #fff; text-align: center;}
.order_bz{ padding:0 20px 20px 20px;}
.bhly_con{}
.bhly_con dl{}
.bhly_con dl dt{ font-weight: normal !important; line-height: 30px;}
.bhly_con dl dd{ border: 1px #eeeeee solid; background: #f9f9f9; color: #999; line-height: 30px; padding:10px 15px;}
.table_ty{ border-left: 1px #eeeeee solid; border-right: 1px #eeeeee solid;}
.table_ty table th{ background: #eff7fe; font-weight: normal; text-align: center;  height: 45px;}
.table_ty table td{text-align: center; border-bottom: 1px #eeeeee solid; padding: 20px 10px;}
.pro_step{ width: 810px; margin: 0 auto;}
.pro_step ul{}
.pro_step ul li{ float: left; width: 210px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; background: #eeeeee; -moz-border-radius: 5px;  -webkit-border-radius: 5px; border-radius: 5px;} 
.pro_step .sel{ background: #40bbee; color: #fff;}
.pro_step .space{ width: 90px; background:#fff url(../img/icon12.png) center center no-repeat;}
.fapiao_step{  margin: 0 auto;}
.fapiao_step ul{}
.fapiao_step ul li{ float: left; width: 190px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; background: #eeeeee; -moz-border-radius: 5px;  -webkit-border-radius: 5px; border-radius: 5px;} 
.fapiao_step .sel{ background: #40bbee; color: #fff;}
.fapiao_step .space{ width: 90px; background:#fff url(../img/icon12.png) center center no-repeat;}
.kp_date{ width: 190px !important; display: inline-block;}
.kp_date .form-control{ background: #fff !important;}
.kp_date .input-group-addon{ background: #fff !important;}
.kp_date .input-group-addon span{ color:#777 !important;}
.wareSort{ margin: 20px 0;}
.wareSort ul { float: left; width: 240px; padding: 10px; border: 1px solid #ddd; background-color: #fff; margin-right: 10px; }
.wareSort ul li a { display: block; padding-right: 25px; padding-left: 10px; border: 1px solid #fff; line-height: 28px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wareSort ul li a:hover { color: #f17356; }
.wareSort ul li.sel a { border-color: #f17356; background: #fee7e2 url(../img/arrow.png) no-repeat right center; color: #f17356; }
.pro_fabu{ border: 1px #EEEEEE solid;}
.pro_fabu .pro_fabu_t{ height: 40px; line-height: 40px; background: #f7f7f7; border-bottom: 1px #EEEEEE solid; padding: 0 10px;}
.pro_fabu .pro_fabu_t b{ font-size: 14px;}
.pro_fabu .pro_fabu_c{ padding: 10px;}
.pro_fabu .pro_fabu_c table td{ padding:10px;}
.pro_fabu .pro_fabu_c table{}
.pro_fabu .pro_fabu_c .span_text{ line-height: 30px; margin: 0 10px;}
.cs_table{}
.cs_table th{ background: #EEEEEE; text-align: center; height: 30px; border: 1px #FFFFFF solid;}
.cs_table td{ text-align: center; background: #fafafa; border: 1px #FFFFFF solid;}
.fp_table .form_label{ width: 100px !important;}
.pro_fabu_img{ }
.pro_fabu_img ul{}
.pro_fabu_img ul li{ float: left; width: 80px;   margin-right: 10px; text-align: center;}
.pro_fabu_img ul li a{ display: block; line-height: 24px;}
.pro_fabu_img ul li img{width: 80px; height: 80px; border: 1px #EEEEEE solid;}
.pro_fabu_class{}
.pro_fabu_class ul li{ float: left; margin-right: 10px;}
.yw_box{ border: 1px #EEEEEE solid; padding:30px 20px 10px 20px;}
.yw_box .od_c input{ margin-top: 0;}
.tab_td_c td, .tab_td_c th{ text-align: center;}

.pj_shd_con{}
.pj_shd_con .pj_title{ width: 250px; font-size: 20px; color: #ff6601; height: 130px; line-height: 130px; text-align: center;}
.pj_shd_con .pj_pf{ width: 560px; height: 130px;}
.gradecon{ font-size: 14px;}
.rev_pro li{line-height:20px;height:20px; margin: 10px 0;}
.rev_pro li .revtit{text-align:right;display:block;float:left;margin-right:10px;width:70px;}
.revinp{float:left;display:inline;}
.level .level_solid,.level .level_hollow{float:left;background-image:url("../img/star.png");background-repeat:no-repeat;display:inline-block;width:19px;height:19px;margin:0 3px;}
.level .level_solid{background-position:0px -28px; }
.level .level_hollow{background-position:0px 0px;}
.revgrade{margin-left:20px;}

.pj_pro_con{}
.pj_pro_con .pj_pro{ width: 250px;}
.pj_pro_con .pj_hzc{ width: 560px;}
.pj_good{ color: #eb0000;   font-size: 16px;}
.pj_normal{ color: #f0ca01;   font-size: 16px;}
.pj_bad{ color: #2b2a35;   font-size: 16px;}


/* Bao CSS */
.radio_a{ margin-right:20px !important; display:inline-block !important;}
.radio_a input[type="radio"]{ margin-top:0 !important; }
.radio_bu{ margin-bottom:-20px !important;}
.show_span{ line-height:30px;}
.form_label01{ text-align: right; width:90px; display: inline-block; margin-right:10px; float: left; line-height: 30px; font-weight: normal !important;}
.btn_margin{ margin-left:10px !important; vertical-align:middle;}
.win_width{ width:70% !important;}
.win_width01{ width:40% !important;}
.xuanze_group{ width:180px !important;}
.xuanze_group button{ height:30px !important;}
.clear_padding td{ padding:0 !important;}
.noborder{ border: none !important; text-align:center !important; font-size:1.4rem; color:#444; margin-bottom:10px !important;}
.nomalfont label{ font-weight:normal !important; color:#444;}
.tip{ background-color:#fbfbde; border:1px solid #efdeb7; padding:10px !important; margin-bottom:10px;}

.order_box_one{ width: 810px; margin: 0 auto;}
.order_box_one ul{}
.order_box_one ul li{ float: left; width: 210px; height: 35px; line-height: 35px; text-align: center; font-size: 14px; background: #eeeeee; -moz-border-radius: 5px;  -webkit-border-radius: 5px; border-radius: 5px;} 
.order_box_one .sel{ background: #40bbee; color: #fff;}
.order_box_one .space{ width: 90px; background:#fff url(../img/icon12.png) center center no-repeat;}


#pagination{
  background: #e3e3e3;
  height: 40px;
  line-height: 40px;
  width: 890px;
  margin-top: 20px;
  text-align: right;
}
#pagination .active{
  color: #c41929;
  border: 1px solid transparent;
  background: #e3e3e3;
  font-size: 14px;
  padding: 3px 4px;
  margin-right: 10px;
}
#pagination a,#pagination span{
  border: 1px solid #cdcdcd;
  background: #fff;
  font-size: 14px;
  padding: 3px 4px;
  color: #000;
  margin-right: 10px;
}
#pagination a.jump-btn{
  margin-right: 20px;
  margin-left: 20px;
}
#pagination input{
  height: 18px;
  line-height:18px;
  width: 30px;
}
